version: '3'
services:
  lucee:
    image: lucee/lucee:5.3-nginx
    #image: ortussolutions/commandbox
    environment:
    #  - cfconfig_adminPassword=Password12!
      - LUCEE_EXTENSIONS=3F9DFF32-B555-449D-B0EB5DB723044045
    command: >
      /var/www/start.sh 
    volumes:
      - ./www:/var/www
      - ./config:/tmp
      #- ./www:/app
    ports: 
      - "80:8888"
      #- "80:8080"


# Commneted uout works for commandbox